 #bank_info_hide
    {
        display:none;
    }
    #payment_from_2
    {
        display:none;
    }       
    .button--standard{
        display: none;
    }
    .fixedclasspos {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    left: 50px;
    z-index: 999;
    padding: 10px 30px;
    border-top: 1px solid #e0e0e0;
}
.cusbtn {
    font-size: 28px;
    padding: 12px 15px;
}
.pointer {cursor: pointer;}
.navbar-search .input-group .form-control {
    border-width: 2px;
    border-style: solid;
    border-right: 0;
    border-color: #37a000;
    height: 57px;
}
.input-group-addon, .input-group-btn {
    width: 20%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 1;
    margin-left: -1px;
    /*height: 70px;*/
    margin:0px;
}
.navbar-search .input-group .btn {
    border-width: 2px;
    border-style: solid;
    border-left: 0;
    color: #fff;
    background-color: #37a000;
    /*padding: 12px 30px;*/
    font-size: 18px;
    height: 57px;
    /* border-radius: 25px; */
}
h1 .srcalrt{
    color: red;
    text-align: center;
}

.navbar-search {
    width: 100%;
    margin: 0 auto 20px;
}
.screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.navbar-search > .input-group {
    width: 100%;
}
.navbar-search .form-control {
    background: #fff;
    line-height: 1.34em;
    padding: 1.01em 15px;
    border-radius: 2px;

}
.navbar-search .input-group .form-control {
    border-width: 2px;
    border-style: solid;
    border-right: 0;
    border-color: #37a000;
    height: 57px;
}
.navbar-search .input-group .input-group-addon {

    border: solid #37a000;
    border-width: 2px 0;
    background-color: #fff;
}

.navbar-search .search-categories > select {
    color: #999;
    padding: 0 1.75rem 0 .75rem;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right 0.75rem center;
    background-size: 8px 10px;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 150px;
}
.navbar-search .input-group .btn {
    border-width: 2px;
    border-style: solid;
    border-left: 0;
    color: #fff;
    background-color: #37a000;
    padding: 12px 30px;
    font-size: 18px;
    height: 57px;
    width: 120px;
    /*border-radius: 25px;*/
}

.navbar-search .form-control {
    background: #fff;
    line-height: 1.34em;
    padding: 1.01em 15px;
    border-radius: 2px;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
}
/*---------- Product -----------*/

.product-panel {
    margin-bottom:  5px;
    cursor: pointer;
}
.product-panel .panel-body{
    padding: 0px;
}
.panel-body {
     padding: 0px; 
}
.product-panel .panel-footer {
    background-color: #f7f9fa;
    border-top: 1px solid #e1e6ef;
    padding: 8px;
    font-weight: 600;
    font-size: 13px;
    min-height: 58px;
}
.actives .panel-footer{
    background-color: #37a000;
    color: #fff;
}
.actives{
    border: 1px solid #37a000;
}

.col-form-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
.select2-container--default .select2-selection--single {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e4e5e7;
    height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}
.footer{
    margin-left: 250px;
}
.table thead tr th {border-bottom: 1px solid #e4e5e7; text-align: center; font-weight: bold;}
 .hiddenRow {
  display: none;
}


.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
/*calculator css*/
header {
    letter-spacing: 6px;
    font-size: 14px;
}

table {
    width: 100%;
}

button {
       width: 45px;
    height: 45px;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background: #e7f7de;
    border: none;
    font-size: 24px;
    line-height: 24px;
    border-radius: 50%;
    font-weight: 700;
    color: #5E5858;
    cursor: pointer;
}



.screen {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2a7d16;
    color: white;
    text-align: right;
    border-radius: 5px; 
    
}
#mainScreen{
 font-family:sans-serif;   
}


.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}

 

/* Tab Content */
.tab-pane {
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
   padding: 10px;
}

.tab-content .panel-body {
     padding: 0px; 
}

.product-panel img {
    width: 100%;
    height: 80px;
}
.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}


#calculator{
     border-radius: 3 !important;
}

.product-panel img {
    width: 100%;
    height: 80px;
}


/*::-webkit-scrollbar {
    width: 4px;
    height: 4px;

}

div#productpanelimg{
    overflow-y:hidden;
    overflow-x:hidden;
    padding-right:0px;
}
div#productpanelimg:hover{
    overflow-y:scroll;
    overflow-x:hidden;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(128,128,128,0.7); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
     width: 5px;
    height: 5px;
}


::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(128,128,128,0.7); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/

.scrollbar
{
    float: left;
    height: 450px;
    background: #F5F5F5;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: thin;
  
}
.scrollbar:hover{
    overflow-y:scroll;
    overflow-x:hidden;
    margin-right: -6px;
}

#style-3::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

.col-p-3{
    width: 20%;
}

.table-sm td, .table-sm th {
    padding: .3rem !important;
}
.table.nowrap th,
 .table.nowrap td {
    white-space: nowrap;
}

.gui-products-table .form-control {
    height: 28px;
    padding: 4px 8px;
    font-size: 12px;
}
.gui-foot{
   height: 28px;
    padding: 4px 8px;
    font-size: 12px;  
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 1px solid #e4e5e7;
     background: #37a000;
    color: #fff;
}



.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    border: 1px solid #e4e5e7;
     background: #B2DFDB;
    color: #000;
}
.nav-tabs>li.active>a{
     border: 1px solid #e4e5e7;
     background: #37a000;
    color: #fff;
}
